<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
      <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>    
      <title>Ajax Demo</title>
      <script>
        $(document).ready(function(){
            
            $('#button_json').click(function(){
                console.log('button_json was clicked!');
                $.ajax({
                    url: '/user_login/all.json',
                    success: function(serverResponse){
                        console.log('success, function serverResponse: ', serverResponse)
                        $('#p1').html(JSON.stringify(serverResponse))
                    }
                });
            });

            $('#button_html').click(function(){
                console.log('button_html was clicked!')
                $.ajax({
                    url: '/user_login/all.html',
                    success: function(serverResponse){
                        console.log('success, function serverResponse: ', serverResponse)
                        $('#p1').html(serverResponse)
                    }
                });
            });

            $('#ajax_starts_with').keyup(function(){
                console.log("starts_with input value entered")
                console.log("parent's serialize() returned: ", $(this).parent().serialize())
                $.ajax({
                    url: "/user_login/find",
                    method: "POST",
                    data: $(this).parent().serialize(),
                    success: function(serverResponse){
                        console.log("success", serverResponse)
                        $('#placeholder_2').html(serverResponse)
                    }
                })
            })
            
            $('#create_user_ajax_form').submit(function(e){
                e.preventDefault()
                $.ajax({
                    url: $(this).attr('action'),
                    method: 'POST',
                    data: $(this).serialize(),
                    success: function(serverResponse){
                        console.log("success", serverResponse)
                        $('#placeholder_3').html(serverResponse)
                    }
                })
            })
        })
      </script>
    </head>
    <body>
    <div class="container">
        <br>
        <h1>Demo #1</h1>
        <br>
        <button id="button_json" class="btn btn-primary">Fetch HttpResponse from user_login/all.json</button>
        <button id="button_html" class="btn btn-primary" style="margin-left: 20px;">Fetch HttpResponse from user_login/all.html</button>
        <br>
        <br>
        <div>
            <p id="p1" class="border" style="padding: 10px;">Plaecholder for Ajax content</p>
        </div>
        <br>
        <h1>Demo #2</h1>
        <br>
        <form action="/user_login/find" method="POST">
        {% csrf_token %}                    
            <label >First Name starts with:</label>
            <input type="text" id="ajax_starts_with" name="starts_with">
        </form>
        <br>
        <div id="placeholder_2" style="margin-top: 50px; border: 1px solid silver; padding: 10px;">Placeholder 3</div>
        <br>
        <h1>Demo #3</h1>
        <br>
        <form action="/user_login/create" method="POST" class="ajax_form" id="create_user_ajax_form">
        {% csrf_token %}
            First Name: <input type="text" name="first_name">
            Last Name: <input type="text" name="last_name">
            Email: <input type="text" name="email_address">
            Age: <input type="text" name="age">
            <input type="submit" value="Submit">
        </form>
        <br>
        <div id="placeholder_3" style="margin-top: 50px; border: 1px solid silver; padding: 10px;">Placeholder 3</div>
    </div>
    </body>
</html>